# Ignore heavy folders and files
.dvc/
.dvcignore
.git/
.github/
artifacts/
logs/
model/
inputImage/
research/
mlruns/
saved_model/

# Large ML files
*.h5
*.pt
*.pth
*.pkl
*.npz
*.pickle
*.zip
*.rar
*.tar
*.gz

# System files
__pycache__/
*.DS_Store
*.lock
