# Folders not needed on GitHub
.dvc/
.dvcignore
.git/
.github/
artifacts/
logs/
model/
research/
inputImage/

# ML / Large files
*.h5
*.pt
*.pth
*.pkl
*.npz
*.pickle
*.zip
*.rar
*.tar
*.gz

# System files
__pycache__/
*.DS_Store
*.lock
